body {background-color: grey;
  display: grid;
place-items: center;}

#main { display: grid;
place-items: center;}

h1 {
  font-family: monospace;
  font-size: 80px;
  color: white;
}
p {color: white;
    font-size: 20px }

#img-caption {
  font-family: sans-serif;
  font-size: 18px;
  padding: 30px; 
  margin-bottom: 30px;
  color: white;
  text-align: center
}

#img-div {
 color: black;
  display: grid;
  place-items: center;
  width: 80%;
}


#image{height: auto;
max-width: 100%;
margin: 25px;
  margin-top: 20px;
  display: inline-block;
  
}
.img-border
{border-color: black;
border-width: 7px;
border-style: solid;}

#tribute-info 
{font-family: sans-serif;
  font-size: 20px;
  color: white;
  text-align: center;
}

#tribute-link 
{text-decoration: none;
}

a:hover
{color: yellow;}

a:link
{color: white;}

a:visited
{color: none;}

#miriafooter
{color: white}

#iconsfooter
{margin-bottom: 10px;}

footer {background-color: rgba(0,0,0,0.5);
  color: white;
  text-align: center;
  font-size: 30px;
  font-family: Abel;
  width: 100%;
  left: 0;
  bottom: 0;
  margin-top: 30px;
}


